.main > a {
    position: relative;
    padding: 1.5rem;
}

.btn {
    padding: 1.2rem;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(25px);
    transform: scale(0.5);
}

.btn:hover {
    padding: 1.325rem;
    color: var(--white-primary);
    border: unset;
}

.btn-blue-gradient {
    background: var(--white-gradient) padding-box,
        var(--blue-gradient) border-box;
}

.btn-blue-gradient::before {
    background: var(--blue-gradient);
}

.btn-blue-gradient:hover {
    background-image: var(--blue-gradient);
}

.btn-purple-gradient {
    background: var(--white-gradient) padding-box,
        var(--purple-gradient) border-box;
}

.btn-purple-gradient::before {
    background: var(--purple-gradient);
}

.btn-purple-gradient:hover {
    background-image: var(--purple-gradient);
}

.btn-pink-gradient {
    background: var(--white-gradient) padding-box,
        var(--pink-gradient) border-box;
}

.btn-pink-gradient::before {
    background: var(--pink-gradient);
}

.btn-pink-gradient:hover {
    background-image: var(--pink-gradient);
}
