.info-container {
    height: 100vh;
    padding: 10rem 2rem 2rem 2rem;
    gap: 2rem;
    color: var(--white-primary);
    background-color: var(--black-primary);
}

.info-container > h1 {
    font-size: 4rem;
    font-family: KharkivTone;
    letter-spacing: 0.3rem;
    text-align: center;
}

.pContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.pContainer > p {
    text-align: left;
    font-weight: 100;
}

@media (max-width: 100px) {
    .info-container > h1 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .info-container > h1 {
        font-size: 2rem;
    }
}
