header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    padding: 0 2rem;
    background: var(--white-primary);
    z-index: 999;
    border-bottom: 0.05px solid var(--black-primary);
    top: 0;
}

header > img {
    width: 100px;
    height: 100px;
}

header > div {
    display: flex;
    gap: 2rem;
}

.header-links > a {
    color: var(--black-primary);
    text-decoration: underline 0.2rem transparent;
    transition: text-decoration-color 0.3s;
}

.header-links > a:hover {
    text-decoration-color: var(--black-primary);
}

.burger {
    display: none;
    width: 20px;
    height: 20px;
}

@media (max-width: 1300px) {
    .burger {
        display: flex;
    }

    .header-links {
        display: none;
    }
}