.drawer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    z-index: 1000;
    background-color: var(--white-primary);
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 1em;
    animation: 700ms slide-in;
}

.drawer > a {
    font-size: 1.5rem;
    color: var(--black-primary);
    text-decoration: underline 0.3rem transparent;
    transition: text-decoration-color 0.3s;
}

.drawer > a:hover {
    text-decoration-color: var(--black-primary);
}

.cross {
    position: absolute;
    top: 20px;
    right: 20px;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(280px);
    }

    100% {
        opacity: 100;
        transform: translateX(0px);
    }
}
