.main {
    flex-direction: column;
    gap: 2.5rem;
}

.container {
    width: 100vw;
    gap: 2rem;
    flex-direction: column;
}

.container > h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0 0.6rem;
}

.text-container {
    padding: 2rem;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .main {
        gap: 1.5rem;
    }

    .container > h1 {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
}

@media (max-width: 600px) {
    .container > h1 {
        font-size: 1.5rem;
    }
}
