.quote-section {
    position: relative;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--black-primary);
    color: var(--white-primary);
}

.quote-section > p {
    font-size: 3rem;
}

.quote-section > h3 {
    position: absolute;
    font-size: 3rem;
    top: 10rem;
    color: transparent;
}

.quote {
    text-align: center;
    font-size: 3rem;
    padding: 0 0.2rem;
    font-weight: 100;
}

.author {
    padding-top: 2rem;
    font-family: KharkivTone;
}

@media (max-width: 1000px) {
    .quote {
        font-size: 2.2rem !important;
    }
}

@media (max-width: 650px) {
    .quote {
        font-size: 1.4rem !important;
        padding: 0 1.5rem;
    }

    .author {
        font-size: 2rem !important;
    }

    .quote-section > h3 {
        font-size: 2rem;
    }
}

.white-bg {
    color: var(--black-primary);
    background-color: var(--white-primary);
}