---
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
    <p>
        Косів – столиця гуцульського краю. Місто розташоване обабіч річки
        Рибниці – правої притоки Прута, у передгір’ї мальовничих Карпат, до
        околиць якого увійшли два села: Монастирське (1906 р.) та Москалівка
        (1932 р.). Знаходиться в сейсмічно небезпечній зоні. Косів як містечко
        відродилося у 1564 році, хоча перші постійні поселення цього краю
        виникли на початку ХІV століття, за часів Галицько-Волинського
        князівства. По занепаді цієї могутньої держави в 1340 році гуцульський
        край потрапляє до Молдавського воєводства, а в 1370-1387 рр. перебуває
        під владою Угорщини. З 1395 року ним майже чотириста літ володіла
        Польща, а в 1778 році ця територія була приєднана до Австрійської
        імперії.
    </p>
    <p>
        За часів Австрії в 1792 році в Косові відкрито першу школу з польською
        та німецькою мовою навчання. а в 1821 році – народну школу, де вчили
        дітей лише читати, писати і рахувати. У 60-х роках ХІХ століття школа
        стала трьохкласною, а у 80-х – шестикласною. Проте через нестатки і
        потребу працювати в домашньому господарстві, щоб вижити, близько 80%
        дітей і дорослих були неписьменними. У 1867 році Косів стає центром
        повіту.
    </p>
    <p>
        З 1905 року в містечку діяли вже дві школи – чоловіча і жіноча – обидві
        п’ятикласні з українською мовою навчання. За часів окупації Польщею
        (1919-1939 рр.) школи стали семикласними з польською мовою навчання,
        українська мова викладалась як предмет. У місті діяли польська і
        єврейська гімназії та декілька приватних шкіл, а після розпаду Польщі з
        жовтня 1939 року почала діяти українська гімназія, проте вона
        проіснувала лише декілька місяців, бо з січня 1940 року стає
        десятирічкою. З вересня 1939 року Косів стає районним центром, тоді ж і
        було скасовано поділ шкіл на чоловічі і жіночі, а в січні 1940 року на
        їх базі були створені дві середні школи. Педагогічні колективи цих шкіл
        складалися з учителів колишніх польської, єврейської та української
        гімназій.
    </p>
    <p>
        За часів німецької окупації десятирічки у місті закрили. Діяла лише одна
        семирічна школа, яка розмістилася в колишньому приміщенні
        загальноосвітньої школи для хлопчиків по вулиці Шкільній. Зразу після
        війни в місті відновили середню школу в колишніх будівлях початкової
        школи села Москалівки, оскільки довоєнне приміщення школи було
        зруйноване, а в самому центрі міста продовжувала функціонувати семирічна
        школа. Згодом вона стає восьмирічною, а з 12 вересня 1975 року рішенням
        Косівської районної Ради депутатів трудящих її реорганізовано в середню
        школу №2 м. Косова на 17 класів, 17 комплектів, 514 учнів. Першим
        директором школи стала Власенко Олена Якимівна, яка обіймала цю посаду у
        восьмирічній школі з 1955 року.
    </p>
    <p>
        Школа знаходиться в центрі міста Косова на правій стороні ріки Рибниці в
        колишніх приміщеннях Косівської середньої школи, збудованих у 1959 році,
        по вулиці Грушевського, 8.
    </p>
    <p>
        10 жовтня 2019 року змінено назву закладу освіти на Косівський ліцей №2
        імені Михайла Павлика.
    </p>
</InfoLayout>

<style>
    p {
        font-weight: 100;
        margin: 2rem 0;
    }
</style>
