---
import "../styles/global.css";
import Logo from "/android-chrome-192x192.png";
---

<header>
    <img src={Logo} alt="logo" />
    <div class="header-links">
        <a href="/school/#main">Головна</a>
        <a href="/school/#gallery">Галерея</a>
        <a href="/school/#contact">Контакти</a>
        <a href="/school/history">Історія</a>
    </div>
    <div class="burger"></div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        position: fixed;
        padding: 0 2rem;
        background: var(--white-primary);
        z-index: 999;
        border-bottom: 0.05px solid var(--black-primary);
        top: 0;
    }

    header > img {
        width: 100px;
        height: 100px;
    }

    header > div {
        display: flex;
        gap: 2rem;
    }

    .header-links > a {
        color: var(--black-primary);
        text-decoration: underline 0.3rem transparent;
        transition: text-decoration-color 0.3s;
    }

    .header-links > a:hover {
        text-decoration-color: var(--black-primary);
    }

    .burger {
        display: none;
        outline: none;
        height: 20px;
        width: 20px;
        border: 0px;
        padding: 0px;
        background: transparent;
        transition: all 250ms ease-out;
        cursor: pointer;
    }

    .burger:before,
    .burger:after {
        content: "";
        width: 20px;
        height: 1px;
        position: absolute;
        background: #1a1a1a;
        transition: all 250ms ease-out;
        will-change: transform;
    }

    .burger:before {
        transform: translateY(12px);
    }

    .active.burger:before {
        transform: translateY(0) rotate(45deg);
    }

    .active.burger:after {
        transform: translateY(0) rotate(-45deg);
    }

    @media (max-width: 800px) {
        .header-links {
            display: none;
        }

        .burger {
            display: flex;
        }
    }
</style>
