---
import "../styles/global.css";
---

<div class="navigation center none">
    <a href="/school/#main" class="burger-link">Головна</a>
    <a href="/school/#gallery" class="burger-link">Галерея</a>
    <a href="/school/#contact" class="burger-link">Контакти</a>
    <a href="/school/history" class="burger-link">Історія</a>
</div>

<style>
    .navigation {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        gap: 3rem;
    }

    .navigation > a {
        font-size: 2rem;
        text-decoration: none;
        color: var(--grey-primary);
    }

    .navigation > a:hover {
        color: var(--black-primary) !important;
    }

    .navigation > a:visited {
        color: var(--grey-primary);
    }
</style>

<script>
    const burger = document.querySelector(".burger");
    const main = document.querySelector("main");
    const navigation = document.querySelector(".navigation");
    const burgerLinks = document.querySelectorAll(".burger-link");

    const burgerHandler = () => {
        burger.classList.toggle("active");
        main.classList.toggle("none");
        navigation.classList.toggle("none");
    };

    burger.addEventListener("click", burgerHandler);
    burgerLinks.forEach((link) =>
        link.addEventListener("click", burgerHandler)
    );
</script>
