.admin-container {
    padding-top: 10rem;
    color: var(--white-primary);
    background-color: var(--black-primary);
}

.admin-container > h1 {
    text-align: center;
}

.img-container:first-child {
    margin-top: 0;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0;
}

.img-container > img {
    object-fit: cover;
    width: 400px;
    height: 400px;
}

@media (max-width: 500px) {
    .img-container > img {
        width: 300px;
        height: 300px;
    }
}

.img-container > h2,
.img-container > h3 {
    font-weight: 100;
    text-align: center;
}
