@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");

:root {
    --blue-gradient: linear-gradient(
        135deg,
        rgb(82, 172, 255) 25%,
        rgb(255, 227, 44) 100%
    );
    --purple-gradient: linear-gradient(
        160deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
    --pink-gradient: linear-gradient(
        160deg,
        rgb(0, 218, 222) 0%,
        rgb(252, 0, 255) 100%
    );
    --white-gradient: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    --white-primary: hsl(100, 100%, 100%);
    --black-primary: hsl(0, 0%, 0%);
    --grey-primary: #808080;
    --link-blue: hsl(240, 100%, 47%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    background-clip: text;
    -webkit-background-clip: text;
}

.display {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    padding: 0 2rem;
    background: var(--white-primary);
    z-index: 999;
    border-bottom: 0.05px solid var(--black-primary);
}

header > img {
    width: 100px;
    height: 100px;
}

header > div {
    display: flex;
    gap: 2rem;
}

header > div > a {
    color: var(--grey-primary);
    text-decoration: none;
}

header > div > a:hover {
    transition: 0.3s;
    color: var(--black-primary);
}

.main {
    flex-direction: column;
    gap: 2.5rem;
}

.container {
    width: 100vw;
    gap: 2rem;
    flex-direction: column;
}

.container > h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0 0.2rem;
}

.text-container {
    flex-wrap: wrap;
}

.text-container > h2 {
    margin: 0.4rem;
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--black-primary);
}

@media (max-width: 1000px) {
    .main {
        gap: 1.5rem;
    }

    .container > h1 {
        font-size: 2rem;
    }

    .text-container > h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    .container > h1 {
        font-size: 1.2rem;
    }

    .text-container > h2 {
        font-size: 1.5rem;
    }
}

.blue-gradient {
    background-image: var(--blue-gradient);
}

.purple-gradient {
    background-image: var(--purple-gradient);
}

.pink-gradient {
    background-image: var(--pink-gradient);
}

.animate {
    animation: color-change 5s;
}

@keyframes color-change {
    25% {
        color: transparent;
    }

    100% {
        color: var(--black-primary);
    }
}

.main > a {
    position: relative;
    padding: 1.5rem;
}

.btn {
    padding: 1.2rem;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn-blue-gradient {
    background: var(--white-gradient) padding-box,
        var(--blue-gradient) border-box;
}

.btn-blue-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--blue-gradient);
    filter: blur(25px);
    transform: scale(0.5);
}

.btn-blue-gradient:hover {
    padding: 1.325rem;
    color: var(--white-primary);
    border: unset;
    background-image: var(--blue-gradient);
}

.btn-purple-gradient {
    background: var(--white-gradient) padding-box,
        var(--purple-gradient) border-box;
}

.btn-purple-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--purple-gradient);
    filter: blur(25px);
    transform: scale(0.5);
}

.btn-purple-gradient:hover {
    padding: 1.325rem;
    color: var(--white-primary);
    border: unset;
    background-image: var(--purple-gradient);
}

.btn-pink-gradient {
    background: var(--white-gradient) padding-box,
        var(--pink-gradient) border-box;
}

.btn-pink-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--pink-gradient);
    filter: blur(25px);
    transform: scale(0.5);
}

.btn-pink-gradient:hover {
    padding: 1.325rem;
    color: var(--white-primary);
    border: unset;
    background-image: var(--pink-gradient);
}

.quote-section {
    position: relative;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--black-primary);
    color: var(--white-primary);
}

.quote-section > p {
    font-size: 3rem;
}

.quote-section > h3 {
    position: absolute;
    font-size: 3rem;
    top: 10rem;
    color: transparent;
}

.quote {
    text-align: center;
    font-size: 3rem;
    padding: 0 0.2rem;
}

@media (max-width: 1000px) {
    .quote {
        font-size: 2.2rem !important;
    }
}

@media (max-width: 650px) {
    .quote {
        font-size: 1.4rem !important;
    }

    .author {
        font-size: 2rem !important;
    }

    .quote-section > h3 {
        font-size: 2rem;
    }
}

.white-bg {
    color: var(--black-primary);
    background-color: var(--white-primary);
}

@font-face {
    font-family: KharkivTone;
    src: url("./assets/Kharkiv-Tone.ttf");
    font-display: swap;
}

.author {
    font-family: KharkivTone;
}

#particles-js {
    height: 100vh;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white-primary);
    overflow: hidden;
}

#particles-js > h3 {
    font-size: 2rem;
}

#particles-js > p {
    width: 60%;
}

#particles-js > canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.contact-section {
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    color: var(--white-primary);
    background-color: var(--black-primary);
}

.links {
    width: 100vw;
}

.links > a {
    display: inline-block;
    margin: 2rem;
    text-decoration: none;
}

.links > a:hover {
    transform: translateY(15%);
    transition: 0.4s;
}

.links > a:visited {
    color: var(--link-blue);
}

footer {
    width: 100vw;
    padding: 1rem;
    color: var(--white-primary);
    background-color: var(--black-primary);
}
