.text-container > h2 {
    margin: 0.4rem;
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--black-primary);
}

.text-container > h2:first-child {
    animation: color-change 9s infinite;
}

.text-container > h2:nth-child(2) {
    animation: color-change-delay 9s infinite;
}

.text-container > h2:last-child {
    animation: color-change-delay-6 9s infinite;
}

@keyframes color-change {
    5%,
    28.4% {
        color: transparent;
    }

    0%,
    33.4%,
    100% {
        color: var(--black-primary);
    }
}

@keyframes color-change-delay {
    38.3%,
    61.7% {
        color: transparent;
    }

    33.3%,
    66.7%,
    100% {
        color: var(--black-primary);
    }
}

@keyframes color-change-delay-6 {
    71.6%,
    95% {
        color: transparent;
    }

    66.6%,
    100% {
        color: var(--black-primary);
    }
}

@media (max-width: 1500px) {
    .text-container > h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 1200px) {
    .text-container > h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1000px) {
    .text-container > h2 {
        font-size: 2.5rem;
    }
}
