---
import Layout from "./Layout.astro";
import "../styles/global.css";
import Navigation from "../components/navigation.astro";

const { frontmatter } = Astro.props;
---

<Layout>
    <Navigation />
    <main class="container">
        <h1>
            {frontmatter.title}
        </h1>
        <p><slot /></p>
    </main>
</Layout>

<style>
    .container {
        padding: 10rem 4rem 4rem 4rem;
        height: 100vh;
        color: var(--white-primary);
        background-color: var(--black-primary);
    }

    h1 {
        font-size: 4rem;
        font-family: KharkivTone;
        letter-spacing: 0.3rem;
        text-align: center;
    }

    p {
        padding-top: 2rem;
    }

    @media (max-width: 500px) {
        h1 {
            font-size: 2.5rem;
        }
    }
</style>
